@import "variables.less";
@import "mixins.less";

body {
    width: 100%;
    height: 100%;
    font-family: @fonts;
}

html {
    width: 100%;
    height: 100%;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @fonts;    
}

@media only screen and (min-width: 668px) {
    h1 {
        font-size: 7rem;
        font-size: 70px;
    }
}
//intro

.intro {
    padding: 20px 0;
    text-align: center;
    color: white;
    background: #f2bc32;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
        .img-circle {
          border-radius: 50%;
          margin: 0 auto;
          border: 3px solid white;
        }
        .brand-heading {
            font-size: 40px;
        }
        .intro-text, .hello-text {
            font-size: 18px;
        }
        .intro-text {
            color: @secondary;
        }
        .hello-text {
            	margin: 0 0 20px;
        }
    @media(min-width:768px) {
      display: table;
      width: 100%;
      height: 100%;
      padding: 100px 0;
      .intro-body {
        display: table-cell;
        vertical-align: middle;
      }
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text, .hello-text {
                font-size: 26px;
            }
        }
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: fade(white, 10%);
    }
    &:hover {
        /* border: 3px solid white; */
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 0.5s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 0.5s;
    }
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 0.5s;
            -moz-animation-duration: 0.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn {
    text-transform: uppercase;
    font-family: @fonts;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid @primary;
    color: @primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid @primary;
        outline: none;
        color: black;
        background-color: @primary;
    }
}

//Portfolio

.portfolio-item {
    margin-bottom: 25px;
}

.page-header {
	margin-bottom: @bottommargin;
}

div#works-bg {
    padding-bottom: @bottommargin;
    background: #0A80A4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

div#works-bg, div#works-bg a {
    color: white;
}

div#works-bg a:hover {
    color: @colorportfolio;
}

div#works-bg a:hover, div#works-bg a:focus {
    text-decoration: none;
    outline: none;
}

.colio-content {
    margin-top: 25px;
    .project-desc {
        text-align: left;
        color: darken(@colorportfolio, 10%);
    }
    h2 {
        font-size: 18px;
    }
    @media(min-width:768px) {
        h2 {
            margin-bottom: 25px;
            font-size: 34px;
        }
    }
}

.colio-container {
    padding: 40px 0px;
    .col-md-12, .col-lg-6  {
        padding-left: 0px;
        padding-right: 0px;
    }

    @media(min-width:768px) {
        padding: 40px;
        .col-md-12, .col-lg-6  {
        padding-left: 15px;
        padding-right: 15px;
        }
    }

}

.btn-visit {
    border: 1px solid @colorportfolio;
    background: rgba(255,255,255,.12);
    @media(min-width:768px) {
        padding: 15px 45px;
    }

}

.btn-visit:hover{
    color: white;
    background: rgba(31,73,110,.3);
}

.btn-visit span {
    font-weight: bold;
}

.portfolio-item div.transition {
    -moz-border-radius: 9px;
    border-radius: 9px;
    border:2px solid transparent;
    background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    background: url(../img/tick11.png) 50% 50% no-repeat rgb(31, 73, 110);
}

#colio-items .portfolio-item:not(.colio-active-item) {
    .transition{
        background: url(../img/zoom.png) 50% 50% no-repeat rgb(31, 73, 110);
    }
}

.colio-active-item div.transition, .portfolio-item div.transition:hover {
    border: 2px solid white;
}

.portfolio-item img {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-border-radius: 9px;
    border-radius: 9px;

}

.colio-active-item img, .portfolio-item img:hover {
    opacity:0.1;
}

.colio-content img {
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: 3px solid #1f496e;
}

@media(min-width:768px) {
        .colio-navigation, .colio-close {
            font-size: 20px;
        }
}

div#works-bg {
  .cd-slider {
    list-style: none;
    p {
      margin-bottom: 0;
    }
    h2 {
      margin-top: 0;
      font-size: 1.5rem;
    }
  }
}

@media(min-width:768px) {
  div#works-bg .cd-slider h2 {
    font-size: 2.5rem;
  }
}

body {
  overflow-x:hidden;
}


//About me

@media(min-width:420px) and (max-width:1199px) {
    .text-centred .img-photo img {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
}

@media(min-width:1200px) {
    .text-centred {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one :-)       */

      display: flex;
      align-items: center;

        .img-photo {
        align-self: flex-end;
        img {
            max-width: 100%;
        }
        }
    }

    #about-bg {
        min-height: 100%;
    }
}

/* FF Button download CV hack */
@media (max-width: 767px) {
  .btn-about {
    margin-bottom: 20px;
    margin-top: 5px;
    }
}

.btn-about i{
    padding-right: 10px;
}

@media (min-width: 768px) {
.btn-about {
    padding: 15px 45px;
}
}
.btn-about {
    border: 1px solid #333333;
    background: rgba(255,255,255,.12);
    border-radius: 15px;
}

.btn-about:hover, .btn-about:focus, .btn-about:active {
    border: 1px solid #333333;
    color: #fff;
    background: rgba(51,51,51,.3);
}

.about-text {
  padding: 1em 0;
  a {
    color: #333;
  }
}

//pager

.bx-pager {
  display: none;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

@media screen and (min-width: 1300px) {

  .bx-wrapper .bx-controls-direction a {
    -webkit-filter: brightness(0.35);
    filter: brightness(0.35);
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
    background-position: 0 0;
}

.bx-wrapper .bx-prev:hover {
    -webkit-transform: translate3d(-4px,0,0);
    -ms-transform: translate3d(-4px,0,0);
    transform: translate3d(-4px,0,0);
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 35px;
    height: 66px;
    text-indent: -9999px;
    z-index: 9999;
}

  .bx-wrapper .bx-prev {
      left: -60px;
      background: url('../img/bt-prev.png') no-repeat;
      -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

    .bx-wrapper .bx-next {
    right: -60px;
    background: url('../img/bt-next.png') no-repeat;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translate3d(-4px,0,0);
    -ms-transform: translate3d(-4px,0,0);
    transform: translate3d(-4px,0,0);
  }

}

//skills

    #skills-div {
      width: 80%;
      margin-left: 10%;
    }

    #brandlogo {
    text-align: center;
    padding: 0px;
    margin: 10px 0px;
    position: relative;
    list-style: outside none none;
    li {
      float: none;
      display: inline-block;
      padding: 0px;
      padding-right: 15px;
      width: auto;
      margin: 0;
      margin-bottom: 15px;
      img {
        vertical-align: middle;
        margin: 0 auto;
        height: 60px;
        width: 60px;
        transition: all .4s;
        -webkit-filter: grayscale(100%) brightness(100%) contrast(100%);
        filter: grayscale(100%) brightness(135%) contrast(120%);
      }
      &:hover img {
        -webkit-filter: none;
        filter: none;
      }
    }
  }

  @media screen and (min-width: 1000px) {

    #brandlogo {
      li {
        padding-right: 20px;
        margin-bottom: 20px;
        img {
          height: 70px;
          width: 70px;
        }
      }
    }

  }

div#skills-bg {
    // padding-bottom: @bottommargin + 45px;
    background: @skillscolor;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

div#skills-bg .page-header {
    margin-top: 20px;
    color: @skillscolorsecond;
}

//experience

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 580px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: #D9D9D9;
  border-radius: 3px;
  padding: 6px 10px;
  font-weight: 600;
  text-align: left;
}

.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #505050;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #D9D9D9;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: #333333;
  vertical-align: middle;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #D9D9D9;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
    width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    background: #F5F5F5;
    z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
    left: 49%;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #505050;
    z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: #F5F5F5;
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}

}

@media screen and (min-width: 400px) and (max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
    margin: 1em 4em 0 4em;
}

}

@media screen and (min-width: 660px) {
  .timeline:before {
    left: 10px;
  }

  .flag, .flag:after, .desc {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .direction-r {
    float: left;
    left: 44px;
    width: 75%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover {
        .flag{
        background: #3E3E3E;
        color: white;
        &:after {
            border-right-color: #3E3E3E;
          }
        }

    }
  }
  .direction-r .flag:before {
  width: 20px;
  height: 20px;
  }
  .direction-r .flag:before {
    left: -43px;
  }
  .time-wrapper {
    display: inline;
    line-height: 0.8em;
    font-size: 16px;
    color: #848484;
    vertical-align: middle;
  }
  .time {
    display: inline-block;
    padding: 5px 10px;
    background: transparent;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1420px) {

  .timeline {
      width: 480px;
  }
}

//Contact

div#contact-bg {
    //padding-bottom: @bottommargin;
    background: @contactcolor;
    //background: @contactcolor;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    min-height: 100%;
    color: @contactcolorsecond;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    #contact {
      flex: 1;
    }
    .form-control {
      padding: 10px 3%;
      margin: 10px 0;
      box-shadow: none;
      border-radius: 15px;
      border: 1px solid transparent;
      background: rgba(0,0,0,.3);
      color: @contactcolorsecond;
      &::-webkit-input-placeholder { color: white; }
      &:-moz-placeholder { color: white; }
      &::-moz-placeholder { color: white; }
      &:-ms-input-placeholder { color: white; }
      &:focus::-webkit-input-placeholder { color:transparent; }
      &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
      &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
      &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    }
    #message {
      height: 132px;
    }
    .with-errors ul li {
      color: #4C1D14;
    }

    .alert-danger {
      background-color: #853425;
      border-color: #411911;
    }
    .alert-success {
      background-color: #569459;
      border-color: #37783B;
    }
    .btn-send {
      border: 1px solid darken(@contactcolor, 20%);
      border-radius: 15px;
      width: 100%;
      padding: 15px 10px;
      min-width: 40%;
      color: darken(@contactcolor, 30%);
      background: rgba(255,255,255,.12);
      &:hover {
        color: @contactcolorsecond;
        background: rgba(0,0,0,.3);
        border: 1px solid @contactcolorsecond;
      }
    }
    .social {
    margin: 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 5px;
      .tooltip > .tooltip-inner {background-color: darken(@contactcolor, 20%);}
      .tooltip > .tooltip-arrow { border-bottom-color:darken(@contactcolor, 20%); }
      li {
        margin: 5px;
        list-style: none outside none;
        display: inline-block;
        }
      }
    i {
      width: 40px;
      height: 40px;
      color: #FFF;
      background-color: transparent;
      font-size: 22px;
      text-align:center;
      padding-top: 12px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      &:hover {
        color: #FFF;
        text-decoration: none;
        transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -webkit-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        -ms-transition: all ease 0.4s;
        transform: rotate(360deg);
        }
      }
    .fa-facebook:hover { /* round facebook icon*/
      background: #4060A5;
    } 
    .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
    }
    .fa-github:hover { /* round github icon*/
    background: #343434;
    }
    .fa-skype:hover { /* round skype icon*/
    background: #00C6FF;
    }
    .fa-file-text:hover {
    background: darken(@contactcolor, 20%);
    }
    .fa-envelope-o:hover {
    background: darken(@contactcolor, 20%);
    }
    }
    footer {
    margin-top: 30px;
    background-color: darken(@contactcolor, 30%);
    padding: 20px;
    text-align: center;
    a {
      color: @contactcolorsecond;
      &:hover, &:focus {
        color: @contactcolorsecond;
      }
    }
    }
}

@media screen and (min-width: 1000px) {

  div#contact-bg {
    #contact {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-direction: column;
      .first {
        flex: 1;
      }
      .third {
        flex: 2;
      }
    }
    .social {
      padding-bottom: 30px;
      li {
        padding: 0px 5px;
            i {
              width: 50px;
              height: 50px;
              font-size: 28px;
              padding-top: 15px;
            }
        }
      }
  }
}

//backgrounds for big screen
@media only screen and (min-width: 668px) {
  .intro {
      background: url(../img/intro-frontend.jpg) no-repeat #f2bc32;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }
}

@import "responsive.less";